<div class="uk-margin uk-width-expand uk-margin-auto uk-card uk-card-default uk-card-body uk-box-shadow-large">
    <table class="uk-table">
        <caption>
            Points of Interest
        </caption>
        <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Longitude</th>
        <th>Latitude</th>
        <th>Action</th>
        </thead>
        <tbody class="uk-text-left">
        {{#each locations}}
            <tr>
                <td>{{name}}</td>
                <td>{{description}}</td>
                <td>{{category.categoryName}}</td>
                <td>{{longitude}}</td>
                <td>{{latitude}}</td>
                <td>
                    <a href="/gallery/{{_id}}" class="uk-icon-link uk-margin-small-right" uk-icon="image"></a>
                    <a href="/location/{{_id}}" class="uk-icon-link uk-margin-small-right" uk-icon="file-edit"></a>
                    <a href="/report/{{_id}}" class="uk-icon-link" uk-icon="trash"></a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>